.weather-component {
    height: 100vh;
    transition: background-color 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
  }
  
  .weather-component.lightblue {
    background-color: lightblue;
  }

  .weather-component.Haze{
    background-color: rgb(236, 205, 205);
  }
  
  .weather-component.yellow {
    background-color: yellow;
  }
  
  .weather-component.lightgray {
    background-color: lightgray;
  }
  
  .weather-component.saffron {
    background-color: #f4c430; /* Saffron color */
  }
  
  .weather-component.lightorange {
    background-color: orange;
  }
  
  .weather-component.darkblue {
    background-color: darkblue;
  }

  .weather-component.six-seven-lightblue
  {
    background-color: rgb(29, 29, 164);
  }

  .weather-component.seven-eight-lightblue
  {
    background-color: rgb(29, 103, 164);
  }

  .weather-component.eight-nine-lightblue
  {
    background-color: rgb(29, 153, 164);
  }
  
  .weather-component.darkpurple {
    background-color: rgb(106, 67, 117);
  }
  